# 함수

In [2]:
def add(a, b):
    return a+b

add(5,10)

15

In [10]:
def add_and_mul(a,b):
    return a+b,a*b

add_and_mul(5,10)

(15, 50)

## 매개변수 지정하여 호출하기

In [3]:
add(b=3, a=7)

10

## 키워드 파라미터 '*'
튜플로 생성된다.

In [5]:
def add_many(*number): 
    result = 0 
    for i in number: 
        result = result + i 
    return result 

add_many(1,2,3,4,5)

15

## 키워드 파라미터 '**'
딕셔너리 생성된다.

In [8]:
def print_kwargs(**user):
    print(user)

print_kwargs(a=1)
print_kwargs(id=1,name='홍길동',phone='01012347777')

{'a': 1}
{'id': 1, 'name': '홍길동', 'phone': '01012347777'}

## 매개변수 초기값

In [17]:
# gender = "M","W"
def printUser(name, age, gender='M'):
    print("name : %s"%name)
    print("age : %d"%age)
    print("gender : %s"%('MAN' if gender == 'M' else 'WOMAN'),end='\n\n')

printUser('홍길동',25)
printUser('홍길순',23,'W')
printUser('홍길냥',3,'M')

name : 홍길동
age : 25
gender : MAN

name : 홍길순
age : 23
gender : WOMAN

name : 홍길냥
age : 3
gender : MAN

## 함수 안에서 함수 밖의 변수를 변경하는 방법
1. return value
2. global value : 비추천

In [19]:
#1. return value
def vartest(a): 
    a = a +1 
    return a

value = 1 
value = vartest(value) 
print(value)

2

In [27]:
#2. global value : 비추천
def vartest(): 
    global value 
    value = value + 1

value = 5
vartest() 
print(value)

6

## [람다대수](https://ko.wikipedia.org/wiki/%EB%9E%8C%EB%8B%A4_%EB%8C%80%EC%88%98)

```lambda 인자 : 표현식```

In [32]:
add = lambda a,b: a+b
result = add(5,10)

print(result)

#익명
(lambda x,y:x*y)(5,10)

15

50

#### map()
``` map(함수,리스트)```

In [19]:
result = map(lambda x: x ** 2, range(5))

for i in result:
    print(i,end=' ')

0 1 4 9 16

#### reduce()
```reduce(함수, 순서형 자료)```

func(func(func(a1,a2),a3),a4)

In [20]:
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

In [23]:
reduce(lambda x, y: y + x, 'abcde')

'edcba'

#### filter()
```filter(함수, 리스트)```

In [17]:
result = filter(lambda x:x%2==0,range(10))

for i in result:
    print(i,end=' ')

0 2 4 6 8